/KNN/nbproject/private/
/K-MEANS/nbproject/private/
/Plot3DExample/nbproject/private/
/Plot3DExample/build/
/K-MEANS3D/nbproject/private/
/K-MEANS3D/build/
/Proyecto/Netbeans/HorariosICO-AG/nbproject/private/
/Proyecto/Netbeans/GeneticoImagen/nbproject/private/
/Proyecto/Netbeans/GeneticoImagen/build/
/MemoriaAsociativa/nbproject/private/
/MemoriaAsociativa/build/
/Proyecto/AG_Horarios/build/
/Proyecto/AG_Horarios/nbproject/private/